*.pyc

# cyx
Pipfile
.vscode/*.json
debug/*
# [cui] weights_yolo/* need to download from https://github.com/WongKinYiu/yolov7/releases -> Assets
weights_yolo/*
*.zip

# intermediate products of training
runs/*
datasets/*/*.cache

# [cui] intermediate products of tracking
tracker/results/*
tracker/trackeval/metrics/__pycache__/*.pyc
videos/*
